<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!!!{{else}}REMAKE IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>